body{
  margin: 0;
font-family: 'Hind Siliguri', sans-serif;
font-size: 15px;
font-weight: 700;
line-height: 1.6;
color: #fff;
}
/*Container*/
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("https://tengrinews.kz/userdata/news/2020/news_404662/thumb_m/photo_323449.jpeg");
  filter: brightness(85%);
  background-size: cover;
}
.intro_title{
  font-size: 25px;
line-height: 1;
}
.intro_btn{
  display:inline-block;
  vertical-align: top;
  padding: 10px 15px;
  border: 3px solid  #ffe227;
color:#ffe227;
text-transform:uppercase;
text-decoration: none;
}
.intro_inner{
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
}
.intro_suptitle{
  font-family: 'Kaushan Script', cursive;
  color: #ffe227;
  font-size: 100px;
}
/*Header*/
.header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}
.header_inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo{
  font-family: 'Kaushan Script', cursive;
  color: #ffe227;
    font-size: 25px;
  font-weight: 700;
}
/*Nav*/
.nav{
  font-size: 14px;
  text-transform: uppercase;
}

.nav_link{
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  color: #fff;
position: relative;
  text-decoration: none;

  transition: color 0.1s linear;
}
.nav_link:after{
  content:"";
  display: block;
  width: 100%;
  height: 3px;

z-index: 1;
  background-color: #ffe227;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;

transition: opacity 0.1s linear;
}
.nav_link:hover{
  color: #ffe227;
}

.nav_link:hover:after{
  opacity: 1;
}

/*Section*/
.section{
  padding: 80px 0;
}
.section_photo{
  border-radius: 50%;
  display: block;
 margin-left: auto;
 margin-right: auto;
 width: 30%;
}
.section_header{
  width: 100%;
  max-width: 950px;
  margin: 0 auto 40px;
  text-align: center;
  color: #333;
}

.section_suptitle{
font-family: 'Cinzel', serif;
  font-size: 25px;
color: #333;
}
.btn{
  display:inline-block;
  vertical-align: top;
  padding: 10px 15px;
border: 3px solid  #333;
color: #333;
text-transform:uppercase;
text-decoration: none;
}
#contact_section{
  background-color: #333;
  padding: 5% 10%;
}
.contact_text{
  text-align: center;
}
.contact_link{
  color:  #fff;
  text-decoration: underline;
}
button{
  background: #ffff00;
  width: 100px;
  border: none;
  outline: none;
  color: #000000;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}
input{
  width: 60%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 3px;
}
